# ignore test tmp files
spec/tmp

# ignore files for local execution
*.gem
config
batch
run
script
public

# ignore plugins
plugins/*
!plugins/patriot-mysql2-client
!plugins/patriot-sqlite3-client


# YARD artifacts
.yardoc
_yardoc
doc/

!.gitignore
