spec/tmp
pkg

# ignore files for local execution
*.gem
/config
batch
run
script
/public
/skel/public/js/patriot-workflow-scheduler-*.js
/skel/public/js/patriot-workflow-scheduler-*.js.map

# ignore plugins
plugins/*
!plugins/patriot-mysql2-client
!plugins/patriot-sqlite3-client
!plugins/patriot-gcp
!plugins/patriot-hadoop

# NPM modules
node_modules

# YARD artifacts
.yardoc
_yardoc
doc/

!.gitignore
