*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
lib/*.jar
pkg
rdoc
spec/reports
spec/pac3_test_db
test/tmp
test/version_tmp
tmp
/config
/batch
/run
/script

.gitmodules
plugins/*
public

# YARD artifacts
.yardoc
_yardoc
doc/

