<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Patriot-workflow-scheduler : a workflow scheduler enabling fine-grained dependency management " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Patriot-workflow-scheduler</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/CyberAgent/patriot-workflow-scheduler">View on GitHub</a>

          <h1 id="project_title">Patriot-workflow-scheduler</h1>
          <h2 id="project_tagline">a workflow scheduler enabling fine-grained dependency management </h2>

          <table style="border: 0;">
            <tr>
              <td style="border: 0;">
                <a href="index.html">overview</a>
              </td><td style="border: 0;">
                <a href="arch.html">architecture</a>
              </td><td style="border: 0;">
                <a href="script.html">script</a>
              </td><td style="border: 0;">
                <a href="pbc.html">DSL</a>
              </td>
            </tr>
          </table>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Copyright &copy CyberAgent, Inc. All Rights Reserved.</p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
